<div class="dialog-container">
    <h2>Update or Delete Resource</h2>
    <form (submit)="updateResource()">
      <select [(ngModel)]="data.section" name="section" required>
        <option value="" disabled>Select Section</option>
        <option value="General Reference">General Reference</option>
        <option value="Fiction">Fiction</option>
        <option value="Subject Reference">Subject Reference</option>
        <option value="Periodicals">Periodicals</option>
      </select><br>
      <input type="file" accept="image/*" (change)="onCoverSelected($event)" name="cover" >
      <label *ngIf="!data.cover">Upload New Cover</label>
      <label *ngIf="data.cover">*ignore to retain current cover</label><br>      
      <input type="text" placeholder="Title" [(ngModel)]="data.title" name="title" disabled>
      <label>*changing of title is prohibited</label><br>
      <input type="text" placeholder="Author" [(ngModel)]="data.author" name="author" required><br>
      <input type="text" placeholder="ISBN" [(ngModel)]="data.isbn" name="isbn" required><br>
      <input type="text" placeholder="Year" [(ngModel)]="data.year" name="year" required><br>
      <input type="text" placeholder="Publication" [(ngModel)]="data.publication" name="publication" required><br>
      <textarea placeholder="Description" [(ngModel)]="data.description" name="description" required></textarea><br>
      <select [(ngModel)]="data.shelf" name="shelf" required>
        <option value="" disabled>Select Shelf</option>
        <option value="Shelf A">Shelf A</option>
        <option value="Shelf B">Shelf B</option>
        <option value="Shelf C">Shelf C</option>
        <option value="Shelf D">Shelf D</option>
        <option value="Shelf E">Shelf E</option>
        <option value="Shelf F">Shelf F</option>
        <option value="Shelf G">Shelf G</option>
        <option value="Shelf H">Shelf H</option>
        <option value="Shelf I">Shelf I</option>
        <option value="Shelf J">Shelf J</option>
      </select><br>
      <select [(ngModel)]="data.level" name="level" required>
        <option value="" disabled>Select Level</option>
        <option value="Level 1">Level 1</option>
        <option value="Level 2">Level 2</option>
        <option value="Level 3">Level 3</option>
        <option value="Level 4">Level 4</option>
      </select><br>
      <button type="submit">Update</button>
      <button type="button" (click)="deleteResource()">Delete</button>
    </form>
  </div>
  