<div class="header">
  <img src="assets/images/LITES Logo without Text Border.png" alt="LITES Logo" class="logo">
  <h1 class="title">Inventory Manager</h1>
  <input type="text" class="search-bar" placeholder="Search" (input)="onSearchChange($event)">
</div>

<div class="STcontainer">
  <nav class="side_navbar">
    <ul class="ul2">
      <li><a routerLink="/admin">
          <img src="assets/images/book-icon.png" alt="" class="icon-size">
          <span class="nav-item">Resources</span>
      </a></li>
      <li><a routerLink="/superadmin-customer">
          <img src="assets/images/analytics-icon.png" alt="" class="icon-size">
          <span class="nav-item">Analytics</span>
      </a></li>
      <li><a routerLink="/login">
          <img src="assets/images/logout-icon.png" alt="" class="icon-size">
          <span class="nav-item">Logout</span>
      </a></li>
    </ul>
  </nav>
</div>

<div class="content">
  <div class="dropdown-container">
    <!-- Bind selectedSection to the select element -->
    <select class="dropdown" [(ngModel)]="selectedSection" (change)="filterResources()">
      <option value="All">All Resources</option>
      <option value="General Reference">General Reference</option>
      <option value="Fiction">Fiction</option>
      <option value="Subject Reference">Subject Reference</option>
      <option value="Periodicals">Periodical</option>
    </select>
    <button class="add-resource-button" (click)="addResource()">Add Resource Material</button>
  </div>
  <div class="book-inventory">
    <table>
      <thead>
        <tr>
          <th>Section</th>
          <th>Cover</th>
          <th>Title</th>
          <th>Author</th>
          <th>ISBN</th>
          <th>Year</th>
          <th>Publication</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through filtered resources based on selected section -->
        <tr *ngFor="let resource of filteredResources">
          <td>{{ resource.section }}</td>
          <td><img [src]="resource.cover" alt="Cover Image" style="max-width: 100px;"></td>
          <td>{{ resource.title }}</td>
          <td>{{ resource.author }}</td>
          <td>{{ resource.isbn }}</td>
          <td>{{ resource.year }}</td>
          <td>{{ resource.publication }}</td>
          <td>{{ resource.description }}</td>
        </tr>
      </tbody>      
    </table>
  </div>  
  <ng-template #noResources>
    <p>No resources listed</p>
  </ng-template>
</div>
