/* analytics.component.css */
.header {
    background-color: maroon;
    color: white;
    display: flex;
    justify-content: flex-start; /* Align horizontally with the logo */
    align-items: center;
    padding: 10px;
  }
  
  
  .logo {
    width: 100px; /* Adjust size as needed */
  }
  
  .title {
    color: white;
    margin-left: 20px; /* Adjust margin to create space between logo and title */
  }
/* Container for analytics */
.analytics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
  }
  
  /* Controls section */
  .controls {
    margin-bottom: 20px;
  }
  
  .controls select,
  .controls button {
    margin-right: 10px;
    padding: 8px 12px;
    font-size: large;
  }
  
  /* Horizontal bar graph */
  .analytics-graph {
    width: 100%;
    max-width: 800px; /* Adjust maximum width as needed */
    max-height: 500px; /* Adjust height as needed */
    overflow-y: auto; 
    overflow-x: hidden;
  }
  
  .bar {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden; /* Ensure that the text does not overflow the bar */
    position: relative; /* Add position relative for child positioning */
    transition: width 0.3s ease; /* Add transition for smooth width adjustment */
    width:auto;
    min-width: 5%;
  }

  .bar-text {
    color: white;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    flex-grow: 1; /* Allow the text to grow within the bar */
  }

  .bar:hover {
    width: auto; /* Allow the bar to expand fully when hovered */
  }
  
  .bar:hover .bar-text {
    overflow: visible; /* Ensure full text is visible on hover */
    white-space: normal; /* Allow text to wrap */
    z-index: 999; /* Ensure that the text is displayed above other elements */
  }
  
  
  /* Tooltip */
  .tooltip {
    position: absolute;
    top: -30px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 4px;
    border-radius: 4px;
    background-color: maroon;
    color: white;
    font-size: 16px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  .bar:hover .tooltip {
    opacity: 1;
  }
  
  .search-count {
    overflow: visible; /* Allow the search count to be visible */
    color: white;
  }
  
  
  
  /* Analysis section */
  .analysis {
    width: 100%;
    max-width: 1000px; /* Adjust maximum width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
/* Side Navbar */
.ul2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .STcontainer {
    display: flex;
    height: 25px;
    flex-direction: row;
  }
  
  .side_navbar {
    position: absolute;
    top: 150px;
    bottom: 0;
    /* height: 100vh; */
    left: 0;
    background: maroon;
    width: 60px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  
  .ul2 a {
    position: relative;
    color: white;
    font-size: 16px;
    display: flex;
    justify-self: center;
    align-items: center;
    width: 300px;
    padding: 6px;
  }
  
  .ul2 a:hover {
    background: #ff6a00;
    cursor: pointer;
    color: #fff016;
    text-shadow: 0px 0px 5px black;
  }
  
  .ul2 a:hover img {
    filter: invert(12%) sepia(81%) saturate(10000%) hue-rotate(355deg) brightness(88%) contrast(116%) drop-shadow(0px 0px 5px white);
  }
  
  .side_navbar:hover {
    width: 250px;
    transition: all 0.5s ease;
  }
  
  .icon-size {
    height: 50px;
  }
  
  .nav-item {
    padding-left: 15px;
  }
  
  .side_navbar_separator {
    height: auto;
  }