<div class="header">
    <img src="assets/images/LITES Logo without Text Border.png" alt="LITES Logo" class="logo">
    <h1 class="title">Resource Analytics</h1>
  </div>
  
  <div class="STcontainer">
    <nav class="side_navbar">
      <ul class="ul2">
        <li><a routerLink="/admin">
            <img src="assets/images/book-icon.png" alt="" class="icon-size">
            <span class="nav-item">Resources</span>
        </a></li>
        <li><a routerLink="/analytics">
            <img src="assets/images/analytics-icon.png" alt="" class="icon-size">
            <span class="nav-item">Analytics</span>
        </a></li>
        <li><a href="javascript:void(0)" (click)="logout()">
          <img src="assets/images/logout-icon.png" alt="" class="icon-size">
          <span class="nav-item">Logout</span>
      </a></li>    
      </ul>
    </nav>
  </div>

<!-- analytics.component.html -->
<div class="analytics-container">
    <div class="controls">
      <select [(ngModel)]="selectedDataType" (change)="fetchAnalyticsData()">
        <option value="terms">Searched Terms</option>
        <option value="books">Searched Books</option>
      </select>
      <select [(ngModel)]="selectedDateRange" (change)="filterByDateRange($event)">
        <option value="Today">Today</option>
        <option value="Past Week">Past Week</option>
        <option value="Past Month">Past Month</option>
        <option value="Past 6 Months">Past 6 Months</option>
      </select>
      <button (click)="toggleSortOrder()">Toggle Sort Order</button>
    </div>
    <div class="analytics-graph">
      <div class="bar" *ngFor="let item of mostSearchedItems; let i = index"
        [style.width.%]="calculateBarWidth(item.numTimesSearched)"
        [style.background-color]="getBarColor(i)"
        (mouseenter)="expandBar($event)"
        (mouseleave)="restoreBar($event, item)">
        <span class="bar-text" [title]="item[selectedDataType === 'terms' ? 'term' : 'title']">
          {{ item[selectedDataType === 'terms' ? 'term' : 'title'] | slice:0:15 }} 
        </span>
        <!-- Display the number of searches -->
        <span class="search-count">[{{ item.numTimesSearched }}]</span>
        <!-- Tooltip for full text on hover -->
        <span class="tooltip">{{ item[selectedDataType === 'terms' ? 'term' : 'title'] }}</span>
      </div>
    </div>
    


    <div class="analysis" *ngIf="totalSearches !== 0">
      <p>During this period, a total of <strong>{{totalSearches}}</strong> search{{ totalSearches !== 1 ? 'es' : '' }} {{ totalSearches !== 1 ? 'were' : 'was' }} conducted. 
        <br>{{ totalSearches !== 1 ? 'Among these searches,' : '' }} <strong>{{ totalSearches !== 1 ? uniqueTermsOrBooks : '' }}
        </strong>  {{ totalSearches !== 1 ? 'unique' : '' }} {{ uniqueTermsOrBooks === 1 ? (selectedDataType === 'terms' ? '' : '') : (selectedDataType === 'terms' ? 'terms' : 'books') }}
        {{ totalSearches !== 1 ? 'were explored.' : '' }}</p>
      <p *ngIf="mostSearchedItems.length === 1">The{{ totalSearches !== 1 ? 'most' : '' }} searched {{ uniqueTermsOrBooks === 1 ? (selectedDataType === 'terms' ? 'term' : 'book') : (selectedDataType === 'terms' ? 'terms' : 'books') }}
        {{ totalSearches !== 1 ? 'were:' : 'was:' }}</p>
      <ul>
        <li *ngFor="let item of mostSearchedItems; let i = index">
          <strong>{{ item[selectedDataType === 'terms' ? 'term' : 'title'] || 'N/A' }}</strong> ({{ item.numTimesSearched }} search{{ totalSearches !== 1 ? 'es' : ''}}, {{ item.percentage ? item.percentage.toFixed(2) + '%' : 'N/A' }})
        </li>
      </ul>
    </div>
    <div *ngIf="totalSearches === 0" class="analysis">
      <p>No searches were conducted during this period.</p>
    </div>
    
    
    
  </div>

  