<div class="container">
  <div class="header">
    <img src="assets/images/LITES Logo with Text Border.png" alt="LITES Logo" class="logo">
    <p>Library Information and Tracking Efficiency System</p>
    <div class="search-bar">
      <input type="text" class="search-input" placeholder="Search for resources" [(ngModel)]="searchInput">
      <button class="search-button" (click)="searchBooks()">Search</button>
    </div>    
  </div>
  <div class="tabs">
    <ul>
      <li (click)="filterBooksByTab('All Books')" [class.selected-tab]="selectedTab === 'All Books'">All Books</li>
      <li (click)="filterBooksByTab('General Reference')" [class.selected-tab]="selectedTab === 'General Reference'">General Reference</li>
      <li (click)="filterBooksByTab('Fiction')" [class.selected-tab]="selectedTab === 'Fiction'">Fiction</li>
      <li (click)="filterBooksByTab('Subject Reference')" [class.selected-tab]="selectedTab === 'Subject Reference'">Subject Reference</li>
      <li (click)="filterBooksByTab('Graduate School')" [class.selected-tab]="selectedTab === 'Graduate School'">Graduate School</li>
    </ul>
  </div>

  <div class="book-container">
    <ng-container *ngIf="filteredBooksList">
      <div class="book-card" *ngFor="let book of filteredBooksList" (click)="onCardClick(book)">
        <img [src]="book.cover" alt="Book Cover" class="book-picture">
        <div class="book-details">
          <div class="book-title">{{ book.title }}</div>
          <div class="book-author">{{ book.author }}</div>
          <div class="book-year">{{ book.year }}</div><br>
          <a class="more-details" (click)="openBookOverviewDialog(book); $event.stopPropagation()">>> More Details</a>
        </div>    
      </div>
    </ng-container>
    <div *ngIf="noSearchResults(books$ | async)" class="no-results-message">
      The material you are searching is not available or does not exist. Please try another keyword.
    </div>
  </div>
</div>
