body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  p {
    color: white;
  }
  .container {
    background-color: maroon;
    padding-bottom: 20px; /* Adjust as needed */
  }
  
  .header {
    text-align: center;
    padding: 20px 0;
  }
  
  .logo {
    width: 200px; /* Adjust size as needed */
  }
  
  .search-bar {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .search-input {
    flex: 1; /* Take up remaining space */
    padding: 12px; /* Increased vertical padding */
    border: none;
    border-start-end-radius: 0px 0px;
    font-weight: bold;
  }
  
  .search-button {
    padding: 12px 200px; /* Increased padding */
    border: none;
    border-start-end-radius: 0px 10px;
    background-color: gold;
    color: maroon;
    cursor: pointer;
    font-size: xx-large;
    font-weight: bolder;
  }
 
  
  .tabs {
    text-align: center;
  }
  
  .tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  .tabs ul li {
    display: inline-block;
    margin: 10px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: gold;
    color: maroon;
  }
  
  .tabs ul li.selected-tab {
    background-color: maroon;
    color: white;
  }
  
  .book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .book-card {
    background-color: gold;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px;
  }
  .search-button {
    padding: 12px 150px; /* Adjust padding */
    border: none;
    border-radius: 0 5px 5px 0; /* Adjust border radius */
    background-color: gold;
    color: maroon;
    cursor: pointer;
    font-size: x-large; /* Adjust font size */
    font-weight: bolder;
  }
  
  
  .book-picture {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .book-details {
    padding: 10px;
  }
  
  .book-title {
    font-weight: bolder;
  }
  
  .book-author,
  .book-year
  {
    margin-top: 5px;
    color: maroon;
  }

  .more-details {
    margin-top: 5px;
    color: maroon;
    font-size: medium; /* Make the font smaller */
    font-family: 'Arial', sans-serif; /* Use a different font */
    transition: color 0.3s; /* Add a smooth transition effect for color change */
    text-decoration: none; /* Remove underline by default */
}

.more-details:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.no-results-message{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: large; /* Make the font smaller */
  font-family: 'Arial', sans-serif; /* Use a different font */
  color: white;
}

  